.login {
  display: flex;
  justify-content: center;
}
.form {
  max-width: 400px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    min-height: 50px;
    overflow: hidden;
    word-wrap: break-word;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
